

.vp-title {
  margin: 10px 8px 0 8px;

  color: #A66EE0;
}


.vp-control {
  padding: 5px;

  display: flex;
  align-items: center;
}


.vp-button {
  margin: 5px;
  border-radius: 50%;
  outline: 0;

  background-color: #999;
  box-shadow: 0 1px 5px -1px #888;
}

.vp-button > div {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.vp-button:not(.vp-on):not(.vp-off) > div {
  background-color: #A66EE0;
}
.vp-on:not(.vp-off) > div {
  background-color: #f784c1;
}
.vp-off > div {
  background-color: #999;
}

.vp-button:hover, .vp-button:focus {
  box-shadow: 0 2px 10px -1px #999;
}
.vp-button:active > div, .vp-button:disabled > div {
  opacity: 0.6;
}
.vp-button:disabled > div {
  background-color: #999;
}

.vp-204 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23FFF' d='M0,0H36V36H0V0L13,10V26L26,18L13,10z'/%3E%3C/svg%3E");
}
.vp-201 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' d='M0,0H24V24H0V0L8,8V16H16V8H8z'/%3E%3C/svg%3E");
}
.vp-202 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -6 36 36'%3E%3Cpath fill='%23FFF' d='M-9,-9H33V33L19,19v-6h-2v4h-10v-3l-4,4l4,4v-3h12L33,33H-9V-9L5,5v6h2v-4h10v3l4,-4l-4,-4v3h-12z'/%3E%3C/svg%3E");
}
.vp-203 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 33 33'%3E%3Cpath fill='%23FFF' d='M-9,36L-9,-9L36,-9L36,36L-9,36L6.5,14.7l6.3,6.3c0.4,0.4,1,0.4,1.4,0l6.3-6.3c3.9-4.2-1.9-10-6.1-6.1C14,9,13.7,9.4,13.5,9.9C13.3,9.4,13,9,12.6,8.6c-4.2-3.9-10,1.9-6.1,6.1z'/%3E%3C/svg%3E");
}

